div .hide-password-1 {
  background-image: url(../assets/hide-password.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 4px;
  position: absolute;
  top: 313px;
  left: 268px;
}
div .show-password-1 {
  background-image: url(../assets/show-password.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 4px;
  position: absolute;
  top: 313px;
  left: 268px;
}
div .hide-password-2 {
  background-image: url(../assets/hide-password.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 4px;
  position: absolute;
  top: 378px;
  left: 268px;
}
div .show-password-2 {
  background-image: url(../assets/show-password.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin: 4px;
  position: absolute;
  top: 378px;
  left: 268px;
}
.content{
  position: absolute;
}