div .hide-password-login{
background-image: url(../assets/hide-password.png);
background-repeat: no-repeat;
background-size: 100%;
width: 16px;
height: 16px;
margin: 4px;
position: absolute;
top: 238px;
left: 268px;
}
div .show-password-login{
background-image: url(../assets/show-password.png);
background-repeat: no-repeat;
background-size: 100%;
width: 16px;
height: 16px;
margin: 4px;
position: absolute;
top: 238px;
left: 268px;
}
.text-esqueci-senha{
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  cursor: pointer;
}