@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
font-family: "Roboto", sans-serif;
display: flex;
justify-content: center;
align-items: center;
}
.dashboard{
  display: flex;
}
.container-tarefas{
  margin: 16px 8px;
}
.coluna{
  background-color: #F6F6F6;
  min-height: 100px;
  min-width: 300px;
  border-radius: 8px;
  margin: 0 8px;
}
.title, .title-doing, .title-done{
color: white;
border-radius: 8px 8px 0 0;
text-align: center;
margin: 0;
padding: 12px;
}
.title{
  background-color: #5492F7;
}
.title-doing{
  background-color: #F5A03B;
}
.title-done{
  background-color: #18E469;
}
  .tarefa{
  margin: 8px;
}


.input{
  margin: 0 4px 16px 0;
}
.tarefa-container{
  background-color: white;
  padding: 8px 16px ;
  border-radius: 4px;
}
.tarefa-title{
font-weight: 500;
margin: 0;
}
.tarefa-description{
font-weight: 300;
margin: 4px 0 0 0;
}
.button-add{
  background-color: black;
  color: white;
  font-weight: 800;
  border-radius: 100px;
  border: none;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.column{
  min-width: 300px;
  background-color: #F6F6F6;

  min-height: 200px;
}
.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
}
.form-container{
position: absolute;
bottom: 230px;
}
h4{
  margin: 8px;
}